<div class="{{class}} transform transition-transform duration-300 hover:scale-110 flex items-center justify-center w-full h-full shadow-3 rounded-full" style="color: {{color | default: '#000000'}}; background: {{background | default: '#ffffff'}}">
  {% include 'icon_arrow', icon_class: icon_class %}
</div>