{% if block.settings.sales_point_1 or block.settings.sales_point_2 or block.settings.sales_point_3 or block.settings.sales_point_4 %}
  <div {{block.shoplaza_attributes}} class="mt-3 lg:mt-4">
    {% for i in (1..4) %}
      {% case i %}
        {% when 1 %}
          {% assign icon = block.settings.sales_point_1_icon %}
          {% assign text = block.settings.sales_point_1 %}
        {% when 2 %}
          {% assign icon = block.settings.sales_point_2_icon %}
          {% assign text = block.settings.sales_point_2 %}
        {% when 3 %}
          {% assign icon = block.settings.sales_point_3_icon %}
          {% assign text = block.settings.sales_point_3 %}
        {% when 4 %}
          {% assign icon = block.settings.sales_point_4_icon %}
          {% assign text = block.settings.sales_point_4 %}
      {% endcase %}
      {% if text %}
        <div class="product-info__sale-item flex items-center">
          {% case icon %}
            {% when 'checkmark' %}
              {% include 'icon_checkmark', icon_class: 'flex-shrink-0' %}
            {% when 'globe' %}
              {% include 'icon_globe', icon_class: 'flex-shrink-0' %}
            {% when 'leaf' %}
              {% include 'icon_leaf', icon_class: 'flex-shrink-0' %}
            {% when 'package' %}
              {% include 'icon_package', icon_class: 'flex-shrink-0' %}
            {% when 'lock' %}
              {% include 'icon_lock', icon_class: 'flex-shrink-0' %}
            {% when 'truck' %}
              {% include 'icon_truck', icon_class: 'flex-shrink-0' %}
          {% endcase %}
          <div class="product-info__sales_points-item break-words flex-1 md:body-minus-2 body-minus-1 ml-1">{{text}}</div>
        </div>
      {% endif %}
    {% endfor %}
  </div>
{% endif %}